<table class= "chat-table">
  <tr>
    <th>
      Chat
    </th>
  </tr>
  <% @chats.each do |chat| %>
  <tr>
    <td>
      <span class="chat-receiver" data-receiver-id=<%= chat.receiver_id %>>
        <%= User.find(chat.receiver_id).name %>
      </span>
      <span class="chat-topic"
        <i><%= image_tag("#{chat.topic_id}.png")  %></i>
      </span>
    </td>
  </tr>
  <% end %>
</table>
