<h2 class="second-title create-first-target">Create your first target by clicking wherever on the map.</h2>
<h3 class="third-title Psss-these-are-the">Psss!, these are the most popular targets:</h3>
<div class= "table-topic-list">
  <ul class= "topic-list">
      <li> <%= image_tag '5', :class => "topic-image" %> <span> Football </span></li>
      <li> <%= image_tag '1', :class => "topic-image" %> <span> Travel </span> </li>
      <li> <%= image_tag '7', :class => "topic-image" %> <span> Music </span> </li>
  </ul>
</div>
