<div id="modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <%= image_tag 'smilies-login', :class => "centered" %>
        <p class= "first-title position-centered text-centered">Yey!</p>
        <p class= "second-title position-centered text-centered">You have a new match!</p>
        <p id= user-name class= "third-title position-centered text-centered">You have a new match!</p>
        <button class="modal-button centered">Cool! Start chatting</button>
    </div>
</div>
