<div class= "profile-img-name">
  <div class= "profile-logo">
    <%= image_tag 'under-logo-img', :class => "under-logo-img" %>
    <%= image_tag 'over-logo-img', :class => "over-logo-img" %>
  </div>
  <div id= "profile-name" class="position-centered text-centered"> <%= current_user.name %> </div>
</div>
