<div class= "welcome-header">
  <%= image_tag 'smilies-login', :class => "smilies-login"%>
  <h1 class="first-title position-auto">TARGET MVD</h1>
  <h2 class="second-title position-centered">Find people near you & Connect</h2>
  <p class="third-title position-centered"> Create a  target  wherever on the map, specify your interest: Travel, Dating, Music, etc and start conecting with others who share your interest.</p>
</div>
