@import "variables";
.chat-table {
  width: 350px;
  margin: 0 auto;
}

.chat-table th, .chat-table td {
  border-bottom: 1px solid #ddd;
}

.chat-receiver {
  cursor: pointer;
}

.chat-topic {
  position: relative;
  height: 37px;
  float: right;
  display: table-cell;
  width: 49px;
}
.chat-topic-img {
  position: absolute;
  top: 13px;
  right: 10px;
}

.chat-table tr:hover {
  background-color: $chat-table-tr-on-hover;
}

.messages {
  overflow: auto;
  height: 700px;
}

.messages-table {
  margin: 0 10% 0 10%;
}

.unread-msg-div {
  border-radius: 7px;
  width: 13px;
  height: 13px;
  background-color: #f3d772;
  right: 1px;
  position: absolute;
}

.display-none {
    display: none;
}

.unread-msg-div p{
  color: white;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
  line-height: 14px;
}
