@import "variables";

.form-delete-target {
  width: 70%;
  margin-top: 20%;
  display: flex;
  flex-direction: column;
}

.topic-field {
  font-size: 11px;
  padding: 12px 20px;
  border: 0.5px solid black;
}

.error-div {
  margin: 0 auto;
  color: $error-color;
  font-size: 15px;
  background-color: $error-background-color;
  border-color: black;
  border-radius: 10px;
}

.button-delete {
  text-align: center;
  margin: 10px 50px 0px 50px;
  background-color: black;
  border: none;
  padding: 16px 32px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button-delete a {
  text-transform: uppercase;
  color: white;
}
