@import "variables";
.rectangle-wrapper {
  position: relative;
  height: 100%;
  width: 375px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  float: left;
  margin: 0 auto;
}

.rectangle {
  height: 92%;
}

.rectangle-title {
  height: 6%;
  background-color: $brand-color;
}

.back-button {
  margin-top: 10px;
  float:left;
  background-color: $brand-color;
  border: none;
}

.rectangle-profile {
  width: 120px;
  height:250px;
  border-bottom: 0.5px   solid   black;
  margin: 0 auto;
  z-index: -1;
}

.profile-img-name {
  margin: 10px auto;
  width: 120px;
  height: 175px;
}

.profile-logo{
  height: 134px;
}

.link-div {
  text-align: center;
  font-size: 12px;
  letter-spacing: 1.8px;
}

.link-div a:hover{
  color: $brand-color;
}

#profile-name {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.86;
}

#target-home {
  margin-bottom: 10px;
}

.over-logo-img {
    width: 83px;
    height: 83px;
    position:absolute;
    z-index: 2;
    margin-top: 20px;
    margin-left: 19px;
}

.under-logo-img {
    width: 125px;
    height: 124px;
    position:absolute;
    z-index: 1;
    margin: 0 auto;
}

.topic-image {
  margin-right: 10px;
  width: 20.1px;
  height: 19.5px;
  object-fit: contain;
  display: inline-block;
}

.topic-list li {
  margin-top: 15px;
}

.table-topic-list {
  font-size: 13px;
  letter-spacing: 2px;
  display: table;
  margin: 0 auto;
}

.topic-list {
  list-style-type: none;
}

.create-first-target {
  margin: 72px auto 80px auto;
  text-align: center;
}

.Psss-these-are-the {
  margin:0px auto 58px auto;
  text-align: center;
}

.not-matches {
  margin-top: 45%;
}

.alert {
  margin: 0 auto;
  color: $alert-color ;
  font-size: 15px;
  background-color: $alert-background-color;
  border-color: black;
  border-radius: 10px;
}
