.rectangle {
  height: 100%;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  float: left;
  margin: 0 auto;
}

.rectangle-profile {
  width: 120px;
  height:250px;
  border-bottom: 0.5px   solid   black;
  margin: 0 auto;
  z-index: -1;
}

.profile-logo{
  height: 164px;
}

.over-logo-img {
    width: 83px;
    height: 83px;
    position:absolute;
    z-index: 2;
    margin-top: 20px;
    margin-left: 19px;
}

.under-logo-img {
    width: 125px;
    height: 124px;
    position:absolute;
    z-index: 1;
    margin: 0 auto;
}

.topic-image {
  width: 20.1px;
  height: 19.5px;
  object-fit: contain;
  display: inline-block;
}
.list-topics li {
  padding-left: 100px;
  margin-top: 10px;
}

.create-first-target {
  text-align: center;
  margin-top: 72px;
  margin-bottom: 80px
}

.Psss-these-are-the {
  text-align: center;
  margin-bottom: 58px;
}
