@import "variables";

.message-user {
  color: $time-color;
  font-size: 13px;
  display:inline;
  line-height: 5;
}

.sender-time {
  float: right;
  margin-right:10%;
  margin-left: 5%;
}

.receiver-time {
  margin-left: 10%;
  margin-right: 5%;
}

.message-content {
  word-break: break-all;
  text-align: left;
  border-radius: 25px;
  display:inline;
  float:right;
  width: 55%;
  padding: 3%;
}

.sender {
  background: $accent-color;
}

.receiver {
  background: $shadow-color;
  float:right;
}

.message {
  margin-top: 10%;
  width: 100%;
  height: 60px;
}
