// Place all the styles related to the Targets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#create-target {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
  color: #ffffff;
  text-align: center;
  background-color: #2fbcf7;
}

.form-create-target{
  margin: 20px 30px auto 30px;
  display: inline-block;
}

.table , .table td{
  border: 1px solid black;
  border-collapse: collapse;
}

.button {
    background-color: black;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: 28px;
    margin-top: 10px;
}

.target-img{
  display: block;
  margin: 0 auto 0 auto;
}

.topic {
  cursor: pointer;
}

.topic:hover {
  background-color: grey;
}
