$sky-blue: #2fbcf7;
$macaroni-and-cheese: #f3d772;
$light-gray: #f7f7f7;
$light-yellow: #ffffe0;
$dark-gray: #ddd;
$pale-green: #90ee90;
$lime-green: #32cd32;
$tomato: #ff6347;

$time-color: #666;
$modal-color: #fefefe;
$modal-border-color: #888;
$close-color: #aaaaaa;
$table-accent-color: $dark-gray;
$brand-color: $sky-blue;
$chat-table-td-on-hover: $light-yellow;
$chat-message-input-color: rgba(0,0,0,0.03);
$alert-background-color: $pale-green;
$alert-color: $lime-green;
$error-color: red;
$error-background-color: $tomato;
$accent-color: $macaroni-and-cheese;
$shadow-color: $light-gray;
