$color-alert-background:  #90EE90;
$color-alert: #32CD32;
$color-error: #FF0000;
$color-error-background: #FF6347;
$color-chat-message-receiver: #f3d772;
$color-chat-message-sender: #f7f7f7;
$color-chat-message-input: rgba(0,0,0,0.03);
$chat-table-tr-on-hover: #FFFFE0;
