<div class= "rectangle-menu-open">
    <%= image_tag 'smilies-login', :class => "smilies-signup"%>
    <h1 class="first-title position-auto text-centered">Yey!</h1>
    <h2 class="second-title position-auto text-centered">Only one more step to start enjoying </h2>
    <h2 id="target", class= "first-title position-auto text-centered" > TARGET</h1>
    <p class="third-title position-auto text-centered">
      We've sent an email to confirm your account. Please, check your inbox.
    </p>
</div>
<%= render "devise/shared/app_img_div" %>
